<!DOCTYPE html>
<html lang="en">
<h1>Books for Sale </h1>
<body>
<form action="." method="GET"> 
<table>
       <tr>
  		<td> <h2>Title</h2> </td>
      <td> <h2>Author </h2></td>
  		<td> <h2>Price </h2></td>
  		<td> <h2>Wanted</h2></td>
       </tr>
    
{% for entry in entries %}
       <tr>
  		<td> <a href="{{ entry.amazon_url }}">{{ entry.title }}</a></td>
      <td> {{ entry.author }} </td>
  		<td> {{ entry.price }} </td>
  		<td> <input type="checkbox" name="wanted" value="{{ entry.isbn }}"> </td>
       </tr>
{% endfor %}
    
</table>

Name: <input type="text" name="name"> Email: <input type="text" name="email">
<input type="submit" name="my-form" value="Send">
</form>
</body>
</html>